*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgba(0, 0, 0, 0.687);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    
}
.logo{
    width:100px;
    padding: 20px;
}
.menus{
    display: flex;
    justify-content: space-around;
    
}
.list{
    list-style: none;
    margin-left: 10px;
    padding: 20px;
    font-weight:600px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height:100vh;
    align-items: center;
    background-image: url("../images/background.png"),linear-gradient(45deg,rgb(5,5,5),rgb(53,53,53));
    /* background-color: black; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-img{
    width:200px;
}
.title{
    font-size: 54px;
    font-weight: 300px;
    color: white;
}
.p-text{
    font-weight:300px;
    margin-top:20px;
    margin-bottom: 20px;
    color:white;
}
.btn{
    background-color: red;
    padding:10px;
    border: none;
    color:white;
}
.about-title{
    color:black;
    text-align: center;
    padding: 25px;
    margin-bottom:10px;
}
.about-us{
    display: flex;
    justify-content: space-around;
    
}
.pera{
    margin:20px 0px;
}
.services-container{
    background-image:url("../images/background.png"),linear-gradient(45deg,rgb(5,5,5),rgb(53, 53, 53));
    height:80vh;
    margin-top: 20px;
}
.box{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.single-box{
    width:240px;
    height:280px;
    border:1px solid gray;
    text-align: center;
    box-shadow: 4px 2px 105px gray;
    border-radius: 10px;
    color:white;
}
.box-title{
    color:white;
}
.box-p{
    color:white;
    padding:10px;
}
.icon{
    width:70px;
    padding:10px;
}
.logo-footer{
    width:200px;
       
}
.footer-container{
    background-image: url("../images/background.png"),linear-gradient(45deg,rgb(0,0,0),rgb(0,0,0));
    color: white;

    height:70vh;
    
}
.part{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.single-part{
   padding-top: 80px;
}
.footer-list{
    display:block;
    list-style: none;
}
.single-part-title{
    padding-top:80px ;
    padding-bottom: 30px;
}
hr{
    
    margin-top:100px;
    margin-left:140px;
    margin-right: 140px;
    margin-bottom: 30px;
    
}
.copy{
    margin-left: 500px;
   
}
.btn:hover{
    background-color:aqua ;
    cursor: pointer;
    
}